<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 

  <body>
        <%- include('../partials/nav.ejs') %> 

    
    <h2>Welcome To My EJS About Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, voluptas!</p>
     <%- include('../partials/footer.ejs') %>
  </body>
</html>
